@model List<Webovka.Models.Product>
@{
    ViewData["Title"] = "Domů";
}
<div class="header-main">
    <div class="container header-wrapper">
        <div class="logo">
            <a href="#"><img src="~/images/materialy/img/Group 4.png" alt="Boty Logo" width="120"></a>
        </div>
        <div class="header-right-group">
            <form class="search-bar" action="#">
                <button type="submit">
                    <img src="~/images/materialy/img/loupe.png" alt="Hledat">
                </button>
                <input type="text" placeholder="Vyhledat zboží...">
            </form>
            <div class="header-icons">
                <a href="#"><img src="~/images/materialy/img/kosik.png" width="24"></a>
                <a href="#"><img src="~/images/materialy/img/heart.png" width="24"></a>
            </div>
        </div>
    </div>
</div>

<nav class="main-nav">
    <div class="container">
        <ul class="nav-menu">
            <li>
                <a href="#" class="nav-link">
                    Chlapecké
                    <img src="~/images/materialy/img/Group 169.png" class="nav-icon-img" alt="Boy">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    Dívčí
                    <img src="~/images/materialy/img/Group 171.png" class="nav-icon-img" alt="Girl">
                </a>
            </li>
            <li><a href="#" class="nav-link">Doplňky</a></li>
            <li><a href="#" class="nav-link">Ostatní</a></li>
            <li><a href="#" class="nav-link">Kontakt</a></li>
        </ul>
    </div>
</nav>

<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                <p class="hero-subtitle">NOVÁ DÍVČÍ KOLEKCE</p>
                <p class="hero-subtitle">ŠETRNÁ K DĚTSKÝM NOHÁM</p>
                <h1>NEJEN DO MĚSTA,<br>ALE I DO PŘÍRODY</h1>
                <button class="btn-red">zobrazit produkty</button>
            </div>
            <div class="hero-image">
                <img src="~/images/materialy/img2/sandalky-modre.png" alt="Dívčí kolekce" width="500">
            </div>
        </div>
        <div class="hero-dots">
            <input type="radio" name="hero-slider" class="hero-radio" checked>
            <input type="radio" name="hero-slider" class="hero-radio">
            <input type="radio" name="hero-slider" class="hero-radio">
        </div>
    </div>
</section>

<section class="categories">
    <div class="container">
        <div class="category-grid">
            <div class="cat-card bg-blue">
                <h3>KLUČIČÍ<br>BOTY</h3>
                <img src="~/images/materialy/img/01.png" alt="Klučičí">
            </div>
            <div class="cat-card bg-pink">
                <h3>DÍVČÍ<br>BOTY</h3>
                <img src="~/images/materialy/img/02.png" alt="Dívčí">
            </div>
            <div class="cat-card bg-grey">
                <h3>JAK SPRÁVNĚ<br>VYBRAT?</h3>
                <img src="~/images/materialy/img/03-01.png" alt="Rádce">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="section-separator">
        <div class="separator-line"></div>
        <div class="separator-icon"><img src="~/images/materialy/img/Group 295.png" width="30"></div>
    </div>
</div>


<section class="products">
    <div class="container">
        <h2 class="section-title">Nejnovější kousky <span>v naší nabídce</span></h2>
        
        <div class="product-grid">
            @foreach (var bota in Model)
            {
                <div class="product-card">
                    <div class="product-img-wrap">
                        <a href="#">
                            <img src="@bota.MainImageUrl" alt="@bota.Name">
                        </a>
                    </div>
                    
                    <h4>@bota.Name</h4>
                    
                    <div class="card-bottom">
                        <div>
                            <span class="current-price">@bota.Price Kč</span> 
                            @if(bota.OldPrice != null)
                            {
                                <span class="old-price">@bota.OldPrice Kč</span>
                            }
                        </div>
                        <img src="~/images/materialy/img/kosik.png" class="add-to-cart-icon">
                    </div>
                </div>
            }
        </div>
        
        <button class="btn-red">zobrazit celou nabídku</button>
    </div>
</section>
<div class="container">
    <div class="section-separator">
        <div class="separator-line"></div>
        <div class="separator-icon"><img src="~/images/materialy/img/Group 295.png" width="30"></div>
    </div>
</div>

<section class="features">
    <div class="container">
        <div class="features-grid">

            <a class="feature-item">
                <div class="feature-icon-circle">
                    <img src="~/images/materialy/img/Group 195.png" alt="Skladem">
                </div>
                <span>VŠE MÁME SKLADEM</span>
            </a>

            <a class="feature-item">
                <div class="feature-icon-circle">
                    <img src="~/images/materialy/img/Group 196.png" alt="Doprava">
                </div>
                <span>DOPRAVA ZDARMA</span>
            </a>

            <a href="#" class="feature-item">
                <div class="feature-icon-circle">
                    <img src="~/images/materialy/img/Group 293.png" alt="Měření">
                </div>
                <span>JAK MĚŘIT VELIKOSTI</span>
            </a>

        </div>
    </div>
</section>

<section class="newsletter">
    <div class="container">
        <h2>Nezmeškejte nové a výhodné akce</h2>
        <p>Zadejte svůj e-mail a obratem vám zašleme PDF s inspirací zdarma.</p>
        <form class="newsletter-form">
            <input type="email" placeholder="Zadejte svůj email...">
            <button type="submit" class="btn-red">PŘIHLÁSIT</button>
        </form>
    </div>
</section>
